%h1 {
  font-family: $ff-main;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%h2-benefits {
  font-family: $ff-main;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%h2-about {
  font-family: $ff-main;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%h2-technology {
  font-family: $ff-main;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%h-testimonials {
  font-family: $ff-main;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%h-secondary-testimonials {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $c-secondary-text;
  letter-spacing: 0;
}

%h2-features {
  font-family: $ff-main;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%h2-questions {
  font-family: $ff-main;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%h3-features {
  font-family: $ff-main;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: $c-h3;
  letter-spacing: 0;
}

%primary-text-benefits {
  font-family: $ff-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%primary-text-testimonials {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%secondary-text {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $c-secondary-text;
  letter-spacing: 0;
}

%primary-text-features {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $c-primary-text;
  letter-spacing: 0;
}

%secondary-text-technology {
  font-family: $ff-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $c-secondary-text;
  letter-spacing: 0;
}

%menu-link-active {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $c-menu-link-active;
  letter-spacing: 0;
}

%menu-link-not-active {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $c-menu-link-not-active;
  letter-spacing: 0;
}

%primary-button-buy {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 102px;
  height: 48px;
  border: none;
  border-color: transparent;

  font-family: $ff-main;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0;

  background-color: $c-primary-button-buy;
  &:hover {
    background-color: $c-primary-button-buy-hover;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $c-primary-button-buy-disabled;
  }
}

%primary-button-send {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 102px;
  height: 40px;
  border: none;
  border-color: transparent;

  font-family: $ff-main;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: #fff;
  letter-spacing: 0;

  background-color: $c-primary-button-send;

  transition:
    transform 0.3s,
    opacity 0.3s;

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
    background-color: $c-primary-button-send-hover;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $c-primary-button-send-disabled;
  }
}

%secondary-button {
  cursor: pointer;

  font-family: $ff-main;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: $c-secondary-button;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
}

%input {
  box-sizing: border-box;
  width: 100%;
  max-width: 438px;
  height: 48px;
  padding: 12px 20px;
  border: 1px solid $c-input-border-default;

  font-family: $ff-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $c-primary-text;
  letter-spacing: 0;

  &::placeholder {
    color: $c-input-placeholder;
  }

  &:focus {
    border-color: $c-input-border-selected;
    outline: none;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px $c-bg inset;
    caret-color: $c-primary-text;
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: $c-primary-text;
  }

  &:user-invalid {
    border-color: $c-input-border-invalid;
  }
}

%textarea {
  resize: none;

  box-sizing: border-box;
  width: 100%;
  max-width: 438px;
  min-height: 128px;
  padding: 12px 20px;
  border: 1px solid $c-input-border-default;

  font-family: $ff-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $c-primary-text;
  letter-spacing: 0;

  &::placeholder {
    color: $c-input-placeholder;
  }

  &:focus {
    border-color: $c-input-border-selected;
    outline: none;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px $c-bg inset;
    caret-color: $c-primary-text;
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: $c-primary-text;
  }

  &:user-invalid {
    border-color: $c-input-border-invalid;
  }

  &:user-invalid::placeholder {
    color: $c-input-border-invalid;
  }
}
