$ff-main: 'Inter', sans-serif;
$ff-secondary: 'Helvetica Neue', sans-serif;
$c-bg: #f7f7f7;
$c-bg-features: #d6ecec;
$c-primary-text: #333;
$c-secondary-text: #7c7c7c;
$c-footer-text: #bdbdbd;
$c-h3: #0c797a;
$c-menu-link-active: #131313;
$c-menu-link-not-active: #333;
$c-primary-button-buy: #333;
$c-primary-button-send: #39bebf;
$c-primary-button-buy-hover: #131313;
$c-primary-button-send-hover: #0c797a;
$c-primary-button-buy-disabled: #d0d0d0;
$c-primary-button-send-disabled: #cfeff0;
$c-secondary-button: #0db2b3;
$c-slider-not-active: #bdbdbd;
$c-slider-active: #333;
$c-slider-hover: #0c797a;
$c-lang-active: #333;
$c-lang-not-active: #bdbdbd;
$c-input-border-default: #828282;
$c-input-border-selected: #0c797a;
$c-input-border-invalid: #eb5757;
$c-input-placeholder: #bdbdbd;
